h1
{
    text-align: center;
    color: blue;
} 
body{
    text-align: center;
    text-wrap: pretty;
    background: rgb(105, 56, 18) url("C:/Users/ldpro/Desktop/Proyectos Front End 2025/imagenes/Paisaje_Jujuy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.campos_rellenar{
    background-color: rgba(245, 213, 188, 0.5);
    border-radius: 5%;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
.campos_rellenar.campos{
    text-align: left;
    margin-bottom: 10px;
}
.campos_rellenar.campos label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.titulo_pagina {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding: 8px;
    background: radial-gradient(circle, #b6baf3, rgb(120, 125, 143));
    color: hsl(354, 80%, 20%);
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    font-size: 28px;

}
.card {
    background-color: #90caf9;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
ul { 
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    border: solid #18181b 4px;
    background-color: #85b4a2;
    margin: 5px;
    padding: 10px;
    }
.box
{   text-align: center;
    font-family: 'Instrument Serif', serif;
    color: blue;
    width: auto;
    padding: 10px;
    border: 2px solid #333;
    margin: 20px;
    background: radial-gradient(circle, rgb(164, 164, 199), rgb(202, 227, 233));
    
}
p{text-align: center;
    color: blue;
    text-align: center;
    
    }
.flex-menu
{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px; 
    flex-direction: column;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: start;
}
.contenedor-imagen {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.texto-superpuesto {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.5);
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
@keyframes slidein {
    from {
        margin-left: 20%;
        width: 100%;
}

to {
    margin-left: 0%;
    width: 100%;
}
}
.footer {
    margin-top: bottom;
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #5e5c5c;
    color:#fff;
    text-align: center;

}
.contacto{
    
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

@media (max-width: 600px) {
    body>comp_pas {
    grid-template-columns: 1fr;
    background: rgb(105, 56, 18) url("C:/Users/ldpro/Desktop/Proyectos Front End 2025/imagenes/jujuy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
    p{
        font-size: 14px;
        background-color: rgb(245, 213, 188);
        }
}

/*Tablets*/
@media (min-width: 600px) {
    body>comp_pas {
    grid-template-columns: 1fr 1fr;
    background: rgb(105, 56, 18) url("C:/Users/ldpro/Desktop/Proyectos Front End 2025/imagenes/jujuy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }
    p{
        font-size: 20px;
        background-color: rgb(240, 76, 11);
        }
}
/*Laptops y monitores medianos */
@media (min-width: 992px) {
    body>comp_pas {
    grid-template-columns: 1fr 1fr 1fr;
    background: rgb(105, 56, 18) url("C:/Users/ldpro/Desktop/Proyectos Front End 2025/imagenes/jujuy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}   p{
        font-size: 24px;
        background-color: rgb(230, 245, 27);
        }
}
/*Pantallas grandes */
@media (min-width: 1200px) {
    body>comp_pas {
    grid-template-columns: repeat(4, 1fr, 1fr);
    background: rgb(105, 56, 18) url("C:/Users/ldpro/Desktop/Proyectos Front End 2025/imagenes/jujuy.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }   
    p{
        font-size: 34px;
        background-color: rgb(202, 177, 199);
}
}